# Base de données
DB_ROOT_PASSWORD=-P8B1jWZzvize8t8V5l-VUm3Ox81UxPAZrl-3_9zGoA
DB_NAME=jeece_rfp
DB_USER=jeece
DB_PASSWORD=hS8nGJdmt2h8Q70jHLsvIX5Vp8G2OFJ3t3k8pMQehO8

# Flask
FLASK_SECRET_KEY=sVoKwX7fKbs5QYKAQ-gU_24ZLXjs8Mqjd2izivTuM_o
JWT_SECRET_KEY=bT_qxv6id7pyg-PlYQLroz5dDS8l40pLHCk2zz39cuw

# Frontend URL (utilisé par Flask pour CORS)
FRONTEND_URL=https://rfp.jeece.fr

# Traefik
TRAEFIK_RULE=Host(`rfp.jeece.fr`)
