# Base de données
DB_ROOT_PASSWORD=changeme
DB_NAME=jeece_rfp
DB_USER=jeece
DB_PASSWORD=changeme

# Flask
FLASK_SECRET_KEY=changeme-secret
JWT_SECRET_KEY=changeme-jwt

# Frontend URL (utilisé par Flask pour CORS)
FRONTEND_URL=https://rfp.jeece.fr

# Traefik
TRAEFIK_RULE=Host(`rfp.jeece.fr`)
